.main-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .navigation {
    height: 48px;
    background-color: #c06c84;
    z-index: 2;
  }

  .content {
    height: 100vh;
    .page-wrapper {
      width: 100%;
      position: absolute;
    }
    .active {
      left: 0;
      transition: left 0.4s;
      z-index: 1;
    }

    .disabled {
      left: -100%;
      transition: left 0.1s 0.4s;
    }
  }
}
